{% extends "layout.html" %}

{% block body %}
    <h3>Forgot password</h3>
    <div class="col-xs-12 col-sm-6 col-sm-push-3 col-sm-pull-3">
        <form action="{{ path('forgot-password') }}" method="POST">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email"  />
            </div>
            <div class="form-group">
                <input type="submit" name="send" class="btn btn-primary" value="Send" />
            </div>
        </form>
    </div>
{% endblock %}