<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>mrmabx silex skeleton</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href="/css/main.css" rel="stylesheet" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="cover">
                        <h3 class="masthead-brand">mrmabx</h3>
                        <nav>
                            {% set current_route = path(app.request.attributes.get('_route')) %}
                            {% if app.user %}
                                <ul class="nav masthead-nav">
                                    {% set routes = {'homepage': 'Home'} %}
                                    {% for k,i in routes %}
                                        {% if  path(k)  == current_route %}    
                                            <li class="active"><a href="{{ path(k) }}">{{i}}</a></li>
                                         {% else %}
                                            <li><a href="{{ path(k) }}">{{i}}</a></li>
                                        {% endif %}   
                                    {% endfor %}    
                                    <li><a href="/admin/logout">Logout</a></li>
                                </ul>    
                            {% else %}
                                <ul class="nav masthead-nav">
                                    {% set routes = {'login': 'Login', 'register': 'Register', 
                                                     'forgot-password': 'Forgot-password'} %}
                                             
                                    {% for k,i in routes %}
                                        {% if  path(k)  == current_route %}    
                                            <li class="active"><a href="{{ path(k) }}">{{i}}</a></li>
                                         {% else %}
                                        <li><a href="{{ path(k) }}">{{i}}</a></li>
                                        {% endif %}   
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    {% for message in app.session.getFlashBag.get('message') %}
                    <div class="alert alert-{{message['type']}}" role="alert">
                        <p>{{ message['text'] }}</p>
                    </div>
                    {% endfor %}
                    {% block body %}
                    {% endblock %}
                </div>    
             </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/global.js"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
